<div class="mutt-display">
  <div id="pic<%= mutt_id %>" class="pic">
    <a href="mutts/<%= mutt_id %>"><img src="<%= mutt_pic %>"></a>
    <a id="next" href="mutts/<%= mutt_id + 1 %>">next</a>
    <a id="guess" href="mutts/<%= mutt_id %>/breeds">Guess ..?</a>
  </div>
</div>